<article>
<section>
<h1><%= params['memo_name'] %>を編集中</h1>
<form method="post" action="/memo/<%= params['memo_name'] %>">
  <input type="hidden" name="_method" value="patch">
  <div>
    <label><input type="text", name="new_memo_name" value=<%= params['memo_name'] %> pattern="[^\x27]*"></label>
    <label><textarea name="memo_body"><%= DATABASE.exec("SELECT memo_body FROM memo WHERE memo_name = '#{params[:memo_name]}'").values.flatten[0] %></textarea></label>
  </div>
  <input type="submit" value="変更を保存">
</section>
</article>
</form>
