<article>
<section>
<h1><%= h(@memo['memo_name']) %>を編集中</h1>
<form method="post" action="/memo/<%= h(@memo['id']) %>">
  <input type="hidden" name="_method" value="patch">
  <div>
    <label><input type="text", name="new_memo_name" value=<%= h(@memo['memo_name']) %>></label>
    <label><textarea name="memo_body"><%= h(@memo['memo_body']) %></textarea></label>
  </div>
  <input type="submit" value="変更を保存">
</section>
</article>
</form>
