<h1>既存のメモリストです。</h1>
<ul>
  <% @all_memo_names.each do |memo| %>
    <li><a href="/memo/<%= h(memo['memo_name']) %>"><%= h(memo['memo_name'])%></a></li>
  <% end %>
</ul>
<h2><a href="/memo/new_memo">メモを作成する</a></h2>
