<link rel="stylesheet" href="stylesheet.css">
<article>
<h1>メモ作成フォームです。</h1>
<section>
<form method="post" action="/memo">
  <div>
    <label><input type="text" name="memo_name" value="メモの名前"></label> <br />
    <label><textarea name="memo_body">メモの内容</textarea></label>
  </div>
  <input type="submit" value="送信">
</section>
</form>
</article>
